<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gisfy.unauthorizedconstructions">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="ANDROID.PERMISSION.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity android:name=".Test">

        </activity>
        <activity android:name=".welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SQLite.Edit_Sql" />
        <activity android:name=".Login.Splash_Activity" />
        <activity android:name=".Profile.Profile" />
        <activity android:name=".dashboard" />
        <activity android:name=".Profile.GuideMe" />
        <activity android:name=".SQLite.RecordListActivity" />
        <activity android:name=".Login.loginpage" />
        <activity android:name=".Sync.SyncRecordList" />
        <activity android:name=".SQLite.MainActivity" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCh1AykMupzdfhthDQeXTetf5lY9R8j92k" />

        <meta-data android:name="io.sentry.dsn" android:value="https://68d9fa9d385343bd884fab5aa75aadb7@o1145193.ingest.sentry.io/6212188" />
        <!-- Set tracesSampleRate to 1.0 to capture 100% of transactions for performance monitoring.
           We recommend adjusting this value in production. -->
        <meta-data android:name="io.sentry.traces.sample-rate" android:value="1.0" />
    </application>

</manifest>
